<a href="https://colab.research.google.com/github/Wachiyem/Wachiyem/blob/main/CIT2228_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Today we shall talk about functions')

Today we shall talk about functions

In [ ]:
sum([2, 3, 4])

9

In [ ]:
2 + 4

6

In [ ]:
6 + 8

14

In [12]:
# A function to add two numbers

def add_two_numbers(a, b):
    summation = a + b
    return summation

In [ ]:

a = int(input(' a = '))
b = int(input(' b = '))

add_two_numbers(a, b)

In [ ]:
sum([40, 56])

96

Write a simple function to multiply two numbers. Let your input variables be `var_1` and `var_2`

In [13]:
def multply_two_numbers(var1,var2): # Lameck's Code
  result = var1 * var2
  return result

In [15]:
multply_two_numbers(2, 3)

6

In [14]:
var1 = 20
var2 = 5
multply_two_numbers(var1, var2)

100

In [20]:
# Bad example
# Function to calculate the area of a circle

def area of circle(radius):
  area = 3.14 * radius ** 2
  return area

area_of_circle(7)

SyntaxError: expected '(' (<ipython-input-20-26c3fb3e1317>, line 4)

In [19]:
# Good naming example
# Function to calculate the area of a circle

def area_of_circle(radius):
  area = 3.14 * radius ** 2
  return area

area_of_circle(7)

153.86

Write a function that calculates the mean age of your household.

In [21]:
# Assuming a family of 3
# Arguments: dad_age, mum_age, baby_age

def mean_age(dad_age, mum_age, baby_age):
  mean_age = (dad_age + mum_age + baby_age) / 3
  return mean_age


mean_age(40, 35, 2)

25.666666666666668

## A more complex example¶
Now that you understand the basics, we can move on to an example with a longer calculation.

Say you are helping a friend to calculate their weekly paycheck after taxes.

They're in a 12% tax bracket (in other words, 12% of their salary is taken for taxes, and they only take home 88%), and
They're paid hourly, at a rate of $15/hour.
The function below calculates the paycheck based on the number of hours worked. The function is more complicated than with the first example, because the function has more lines of code and comments. Similar to the example above, the function has a single argument (num hours). In the function body, we:

Use the value for num_hours to specify the value for a new variable pay_pretax.
Use the value of pay_pretax to specify the value for a new variable pay_aftertax.
Return the value of the pay_aftertax variable.

In [22]:
def calculate_pay(num_hours):
    # Pre-tax pay, based on receiving $15/hour
    pay_pretax = num_hours * 15

    #pay after tax
    pay_aftertax = pay_pretax * 0.88

    return pay_aftertax

In [23]:
calculate_pay(20)

264.0

## Variable "scope"¶
Variables defined inside the function body cannot be accessed outside of the function. For instance, the next code cell errors, because pay_aftertax only exists inside the function.

In [24]:
print(pay_pretax)

NameError: name 'pay_pretax' is not defined

## Functions with multiple arguments¶
So far, you have learned how to define a function with just one argument. To define a function with multiple arguments, you only need to add more arguments inside the parentheses in the function head and separate them with a comma.

We do this with the `get_pay_with_more_inputs()` function below, which calculates a weekly paycheck based on three arguments:

num_hours - number of hours worked in one week

hourly_wage - the hourly wage (in $/hour)

tax_bracket - percentage of your salary that is removed for taxes

In [28]:
def get_pay_with_more_inputs(num_hours, hourly_wage, tax_bracket):
    # Pre-tax pay
    pay_pretax = num_hours * hourly_wage
    # After-tax pay
    pay_aftertax = pay_pretax * (1 - tax_bracket)
    return pay_aftertax

In [29]:
get_pay_with_more_inputs(40, 24, .22)

748.8000000000001

## Functions with no arguments¶
Note that it's possible to define function with no arguments, and that don't have a return statement. The print_hello() function in the code cell below is an example.

In [30]:
def print_hello():
  print("Hello World")
  print("When shall we sort the climate change emergency?")

print_hello()

Hello World
When shall we sort the climate change emergency?

Assignment: Check kaggle exercise [Kaggle Exercise on Functions](https://www.kaggle.com/code/wachiyem/exercise-functions/edit)

Due: Next lecture

- Create an account on Github to submit your work.